.flag {
  padding-top: 0%;
  width: 100%;
  height: 60%;
}

.country-card {
  height: 350px;
  width: 20%;
  border: 1px solid black;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.country-name {
  margin-bottom: 0px;
  text-align: left;
  padding-left: 8%;
}

.country-details {
  margin-top: 0px;
  text-align: left;
  padding-left: 8%;
}
