<form>
  <div (change)="onSearch()" (keyup)="onSearch()">
    <label>Choose a region</label>
    <select
      [(ngModel)]="selectedContinent"
      name="continents"
      (ngModelChange)="(filterbyregion)"
    >
      <option *ngFor="let continent of continents" [ngValue]="continent.name">
        {{ continent.name }}
      </option>
    </select>
    <input [(ngModel)]="searchCountry" name="searchCountry" type="text" />
  </div>
</form>

<div class="country-container">
  <div class="country-card" *ngFor="let eachCountry of continentCountries">
    <img class="flag" [src]="eachCountry.flag" alt="flag" />
    <div class="card-text">
      <h2 class="country-name">{{ eachCountry.name }}</h2>
      <p class="country-details">
        {{ eachCountry.region }} ({{ eachCountry.alpha3Code }})
      </p>
    </div>
  </div>
  <h1 *ngIf="continentCountries.length === 0">
    this country doesn't exist on Earth
  </h1>
</div>
