<h1 class="details-title">World Countries</h1>
<div *ngIf="!isLoading" class="contryDetailsContainer">
  <div class="countryDetails">
    <hr />
    <section class="countryInfo">
      <h1>{{ countryDetails.name }} ({{ countryDetails.alpha3Code }})</h1>
      <p>Population: {{ countryDetails.population }} Human Lives Here</p>
      <p>capital: {{ countryDetails.capital }}</p>
      <p>
        currency : {{ countryDetails.currencies[0].code }} ({{
          countryDetails.currencies[0].symbol
        }})
      </p>

      <button class="backBtn" [routerLink]="['/']">Back to countries</button>
    </section>
  </div>
  <hr />
  <h2 class="align">Borders</h2>
  <ul>
    <a class="bordersContainer">
      <li
        *ngFor="let country of borderCountryDetails"
        class="borderItem"
        [routerLink]="['/country/', country.alpha3Code]"
      >
        <img
          [src]="country.flag"
          alt="boder country flag"
          class="bordersFlag"
        />
      </li>
    </a>
  </ul>
</div>
<h1 [hidden]="!isLoading" class="align">Loading</h1>
