<div class="contryDetailsContainer">
  <div *ngIf="!isLoading" class="countryDetails">
    <img class="flag" [src]="countryDetails.flag" alt="flag" />
    <section class="countryInfo">
      <h1>{{ countryDetails.name }} ({{ countryDetails.alpha3Code }})</h1>
      <p>Population: {{ countryDetails.population }} Humen Lives Here</p>
      <p>capital: {{ countryDetails.capital }}</p>
      <p>
        currency : {{ countryDetails.currencies[0].code }} ({{
          countryDetails.currencies[0].symbol
        }})
      </p>

      <button class="backBtn" [routerLink]="['/']">Back to countries</button>
    </section>
  </div>
  <ul class="bordersContainer">
    <a>
      <li
        *ngFor="let country of countryBorders"
        [routerLink]="['/country/', country]"
      >
        {{ country }}
      </li>
    </a>
  </ul>

  <h1 [hidden]="!isLoading">Loading</h1>
</div>
